
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container " xmlns="http://www.w3.org/1999/html">
  <div class="row "  >

    <div class="col-sm-2 col-md-3" style="background: lavender; border-radius: 10px; margin-top: 5%;" >
      <form id="123">
        <div class=" ">
        <div class="form-group">
          <label for="exampleFormControlSelect1"><h6>Choose Category</h6></label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Best Match</option>
            <option>2</option>

          </select>
        </div>
        <h6>Choose Subcategory</h6>
        <div class="form-check" style="">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
          <label class="form-check-label" for="defaultCheck8">
            Default checkbox
          </label>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3">
            Default checkbox
          </label>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
          <label class="form-check-label" for="defaultCheck4">
            Default checkbox
          </label>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
          <label class="form-check-label" for="defaultCheck5">
            Default checkbox
          </label>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
          <label class="form-check-label" for="defaultCheck6">
            Default checkbox
          </label>

        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
          <label class="form-check-label" for="defaultCheck7">
            Default checkbox
          </label>

        </div>


        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Default radio
          </label>
        </div><div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
        <label class="form-check-label" for="exampleRadios2">
          Default radio
        </label>
      </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>
          <label class="form-check-label" for="exampleRadios3">
            Default radio
          </label>
        </div><div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" checked>
        <label class="form-check-label" for="exampleRadios4">
          Default radio
        </label>
      </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Default checkbox
          </label>

        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2"><h6>Choose Category</h6></label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Best Match</option>
            <option>2</option>

          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect3"><h6>Choose Category</h6></label>
          <select class="form-control" id="exampleFormControlSelect3">
            <option>Best Match</option>
            <option>2</option>

          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect4"><h6>Choose Category</h6></label>
          <select class="form-control" id="exampleFormControlSelect4">
            <option>Best Match</option>
            <option>2</option>

          </select>
        </div>
        </div>
      </form>

<!--*ngFor="let post of posts"  post.name-->

    </div>
    <div class="col-md-9" style="margin-top: 10%;">

      <div class="card" *ngFor="let post of posts; let i = index" style="margin-top: 2%">
      <div class="card-body"    >
        <div class="row">
        <h5 style="color: deepskyblue  "> {{post.name}} </h5></div>
        <div class="row"   >
          <ul class="list-inline">



            <li class="list-inline-item" style="color: darkgrey">Fixed:</li>
            <li class="list-inline-item"> {{post.options.fixed}}</li>|

            <li class="list-inline-item" style="color: darkgrey"> Budget:</li>
            <li class="list-inline-item"> {{post.options.budget}}</li>|
            <li class="list-inline-item" style="color: darkgrey"> Delivery:</li>
            <li class="list-inline-item"> {{post.options.delivery}}</li>|
            <li class="list-inline-item" style="color: darkgrey"> Posted:</li>
            <li class="list-inline-item"> {{ post.options.posted }}</li>|
            <li class="list-inline-item" style="color: darkgrey"> Ends:</li>
            <li class="list-inline-item"> {{post.options.ends}}</li>|
            <li class="list-inline-item"  > <a href="#" class="badge badge-info">{{post.options.proposals}} proposals</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="">{{post.description}}  <a href="#" style="color: deepskyblue">18 more</a> </div>
        </div>
        <br>
        <div class="row"   >
          <ul class="list-inline">
            <li class="list-inline-item" style="color: darkgrey">Category:</li>
            <li class="list-inline-item"> {{post.category}}</li>

            <li class="list-inline-item" style="color: darkgrey"> Skils:</li>
            <li class="list-inline-item" style="background-color: lightgrey; border-radius: 5px; padding: 5px"> {{post.skills[i].name}}</li>
            <li class="list-inline-item" style="background-color: lightgrey; border-radius: 5px; padding: 5px"> {{post.skills[i].name}}</li>

            <li class="list-inline-item"  > <a href="#" class="badge badge-info">18 more</a></li>

          </ul>
        </div>
        <div class="row"   >
          <ul class="list-inline">
            <li class="list-inline-item" style="color: darkgrey">Client:</li>
            <li class="list-inline-item"> {{post.client.country }}</li>
            <li class="list-inline-item"> {{post.client.rating }}</li>
          </ul>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
      </div>
      </div>
    </div>
  </div>



</div>
<div>


</div>




<app-secondtask>

</app-secondtask>
